/* Reset default browser margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: 'Garamond', sans-serif; /* Corrected font name */
}

.intro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000; /* Black text color */
  background: #ffffff; /* White background for container */
  padding: 10px;
}

.intro-content {
  max-width: 1200px;
  width: 90%;
  margin: 13% auto;
  margin-top: 50px;
  padding: 0 2px;
  text-align: left;
  font-size: 1em;
  line-height: 1.7;
  color: #000000; /* Black text color for content */
  transition: transform 0.3s ease;
}

h1 {
  margin: 20px 0;
  text-align: left;
  color: #333333; /* Dark gray for a softer black heading */
  font-weight: bold;
  font-size: 2.2em;
}

h2 {
  margin-top: 15px;
  font-weight: normal;
  line-height: 1.6;
  font-size: 1.5em;
  color: #333333; /* Dark gray for subheadings */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .intro-content {
    max-width: 90%;
    font-size: 0.9em;
    padding: 15px;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 480px) {
  .intro-content {
    max-width: 100%;
    font-size: 0.85em;
    padding: 10px;
  }

  h1 {
    font-size: 1.6em;
  }
}
